{% extends "parosmia/layout.html" %}
    {% block title %}
    My Parosmia Pet - About
    {% endblock %}</title>


{% block content %}

<div style='background: grey; color: white; margin: 1%; width: 45%; padding:1%; float:right;'>
    <details open> <summary><b> My EPQ </b></summary>
    <p> 
        Hello, my name is Zoe and I am 18. this year at school I was given the oppourtunity to complete an EPQ (Extented Project Qualification). For my EPQ I decided to research into Parosmia and also create an app to help people suffering from the condition. I decided to choose this as long covid impacts so many lives in such differant ways. <br><br>
        When I first developed parosmia I struggled massively and found it hard to find useful resources and support. I am hopeful that this app will help others and support them through a hard time in their lives. My goal was to learn more about the condition and help people better manage their life and symptoms. <br><br>
        The aim of this app is to provide support in a way that is user friendly and engaging. By using the animated skunk, I hope to encourage the users to better engage and get as much as possible out of the app. It is also easy to change preferences and settings. This is practical as parosmia can impact everyone differently and I want everyone to have access to the support they need.<br><br>
        If you think there is something I could add to improve the app or just want to chat then feel free to email me at <a href="mailto: parosmiapet@hopkinsnet.com">parosmiapet@hopkinsnet.com </a><br>
    </p>
</details>
</div>

<div>
<article style='background: white; border: 2px solid black; margin: 1%; width: 45%; padding:1%; left;'>
    <h2>About Parosmia</h2>
    
    <h3>What is it?</h3>
    Parosmia is a condition which causes a distorted sense of smell. Common foods and other substances can smell and taste disgusting or strange.  
    <br>
    <h3>Why it happens?</h3>
    Parosmia often occurs after an infection or virus and is caused by damage to your olfactory senses. Recently, it has become more common due to an increase of people with olfactory disorders due to complications of Covid 19.
    <h3>What happens?</h3>
    Parosmia has a huge impact on the quality of life for sufferers. Although it is not usually a permanent condition, recovery often takes several months or years and the condition can prevent people continuing with their everyday activities and also cause them to struggle with nutrition and even leaving the house. The impacts can have a massive effect on sufferer’s mental and physical health. 
    <br>
    <h3>Who does it affect?</h3>
    It can affect anyone, though it does appear to be more common in females. 
    <br>
    <h3>How can you support people with Parosmia</h3>
    Parosmia sufferers struggle with normal everyday activities and can become very isolated. Understanding that friends and loved ones with the condition can't socialise in the normal ways and finding other ways to iteract with them to stop them becoming isolated can make a huge impact.
    <br>
    </article>
</div>
<BR><BR><BR><BR>
{% endblock %}


