{% extends "parosmia/layout.html" %}
    {% block title %}
    My Parosmia Pet - About
    {% endblock %}</title>


{% block content %}

<div>
<article style='background: white; border: 2px solid black; margin: 1%; width: 45%; padding:1%; float:left;'>

    <h2>About Parosmia</h2>
    <br>
    <h3>What is it?</h3>
    <br>
    <h3>Why it happens?</h3>
    <br>
    Who it affects? 
    <br>
    How can you support people with Parosmia
    <br>
    
    <a href=""><b> A Poster for Explaining to Family and Friends </b></a>
</article>
</div>
            

<div style='background: grey; color: white; margin: 1%; width: 45%; padding:1%; float:right;'>
    <details open> <summary><b> My EPQ </b></summary>
    <p> 
        Hello, my name is Zoe and I am 18. this year at school I was given the oppourtunity to complete an EPQ (Extented Project Qualification). For my EPQ I decided to research into Parosmia and also create an app to help people suffering from the condition. I decided to choose this as long covid impacts so many lives in such differant ways. <br><br>
        When I first developed parosmia I struggled massively and found it hard to find useful resources and support. I am hopeful that this app will help others and support them through a hard time in their lives. My goal was to learn more about the condition and help people better manage their life and symptoms. <br><br>
        The aim of this app is to provide support in a way that is user friendly and engaging. By using the animated skunk, I hope to encourage the users to better engage and get as much as possible out of the app. It is also easy to change preferences and settings. This is practical as parosmia can impact everyone differently and I want everyone to have access to the support they need.<br><br>
        If you think there is something I could add to improve the app or just want to chat then feel free to email me at <a href="mailto: parosmiapet@hopkinsnet.com">parosmiapet@hopkinsnet.com </a><br>
    </p>
</details>
</div>



{% endblock %}


