{% extends "parosmia/layout.html" %}
{% block title %}
My Parosmia Pet - Resources
{% endblock %}</title>

{% block content %}
{% load static %}



<div class="resource">
    <img align="left" src="{% static 'parosmia/hannah.png' %}">
    <h2>Hannah Higgins - Something Smells Good: A Parosmia-friendly Cookbook and Lifestyle Guide</h2>
    Hannah has created a positive and inclusive community through instagram called parosmia pals. She often has zoom calls to talk to others with the condition and discuss their experiences and any treatment they have tried. She recently published a book of recipes which use more common safe foods for those with parosmia. You can see her book on amazon by following the link below. 
    <BR><BR>
    <a target="_blank" href="https://amzn.eu/d/efVTVK0">Buy on Amazon</a>
</div>


<div class="resource">
    <img align="left" src="{% static 'parosmia/abscent.png' %}">
    <h2>Abscent Website</h2>
    Absent is an informative websites for people with smell disorders. They are one of the first research based resources for those with parosmia. On the website,  you can learn about smell training and read informative research based articles about the condition. The link to the website is below.
    <BR><BR>
        <a target="_blank" href="https://abscent.org/">Abscent Website</a>
</div>

<div class="resource">
    <img align="left" src="{% static 'supercook.png' %}">
    <h2>Supercook</h2>
    This webite allows you to submit the foods you have available and will recomend recipes based on this. This is a useful resource for those with parosmia as you can add your safe foods and find new recipes to try. This website may be more helpful for those with a longer list of safe foods, however can also work well for those with a more restricted diet. The link to the website is below.
    <BR><BR>
        <a target="_blank" href="https://www.supercook.com">Supercook</a>
</div>

<BR><BR>



{% endblock %}

