{% extends "parosmia/layout.html" %}
{% block title %}
My Parosmia Pet - Resources
{% endblock %}</title>

{% block content %}
{% load static %}



<div class="resource">
    <img align="left" src="{% static 'parosmia/hannah.png' %}">
    <h2>Hannah Higgins - Something Smells Good: A Parosmia-friendly Cookbook and Lifestyle Guide</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum, metus et tincidunt pharetra, est lorem luctus velit, in fringilla ipsum nibh sed lectus. Etiam vestibulum turpis ut ornare sollicitudin. Morbi bibendum vehicula lorem, at condimentum elit luctus id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vel urna vitae leo faucibus convallis. Nullam in porttitor urna. Maecenas gravida nulla tortor, id vestibulum nunc sollicitudin eu.
    <BR><BR>
    <a target="_blank" href="https://amzn.eu/d/efVTVK0">Buy on Amazon</a>
</div>


<div class="resource">
    <img align="left" src="{% static 'parosmia/abscent.png' %}">
    <h2>Abscent Website</h2>
    Lorem ipsum dolor sit abc amet, consectetur adipiscing elit. Aliquam rutrum, metus et tincidunt pharetra, est lorem luctus velit, in fringilla ipsum nibh sed lectus. Etiam vestibulum turpis ut ornare sollicitudin. Morbi bibendum vehicula lorem, at condimentum elit luctus id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vel urna vitae leo faucibus convallis. Nullam in porttitor urna. Maecenas gravida nulla tortor, id vestibulum nunc sollicitudin eu.
    <BR><BR>
        <a target="_blank" href="https://abscent.org/">Abscent Website</a>
</div>



  




{% endblock %}

